<div class="container">
	<div class="forumHeader row">
		<div class="col-xs-6">
			<img class="forumLogo" src="resources/images/forumIcon.svg"
				width="40" height="40" />
			<h1 class="forumHeading">General Discussion</h1>
		</div>
		<div class="col-xs-6">
			<div class="pull-right">
				<div class="forumSearchWrapper">
					<input data-ng-model="topicSearch" class="forumSearch" type="text"
						autofocus="autofocus" placeholder="Search..." />
				</div>
				<button data-ng-click="showNew()" type="button" class="newTopicBtn">
					<i class="newTopicBtnIcon fa fa-plus"></i>NEW TOPIC
				</button>
			</div>
		</div>
	</div>
	<div class="row">
	<div class="col-xs-12 joinTheConversation" data-ng-show="showNewTopic">
		<h1 class="conversationHeader">Join the Conversation</h1>
		<div class="col-xs-12 newComment">
			<div class="col-xs-3 userDetails media">
				<div class="media-left">
					<img data-ng-src="http://localhost:8081/ForumBackEnd/resources/images/{{commonData.user.id || 'error'}}.jpg" data-fallback-src="resources/images/userIcon.svg" width="64" height="64" class="avatar"/>
				</div>
				<div class="media-body">
	    			<h4 class="media-heading">{{commonData.user.username}}</h4>
	    			...
	  			</div>
			</div>
			<div id="reply" class="col-xs-9">
				<div data-ng-show="!commonData.isLoggedIn" class="newCommentLogin">
					Have something to say? Log in to join the conversation.
					<div class="replyLoginBtnWrapper"><button class="replyLoginBtn" data-ng-click="go('/Login');" type="button">LOGIN</button></div>
				</div>
				<div data-ng-show="commonData.isLoggedIn">
					<h4>Title</h4>
					<input data-ng-model="title" class="createTopicTitle" type="text" name="threadTitle" />
					<h4>Content</h4>
					<textarea class="col-xs-12 newCommentContent" data-ng-model="content" rows="8" cols="64"></textarea>
					<div class="col-xs-12 newCommentReplyBtnWrapper">
						<button class="newCommentReplyBtn" data-ng-click="createThread()" type="button"><i class="replyBtnIcon fa fa-arrow-down"></i>CREATE</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<br />
	<div class="forumContent">
		<a class="forumTopic" data-ng-repeat="topic in pages[currPage].topicsList | filter: topicSearch" data-ng-href="#!Forum/{{topic.id}}">
			<i class="topicIcon fa fa-file-o"></i><span class="topicTitle">{{topic.title}}</span>
			<span class="pull-right">
				<span class="topicDelete" data-ng-click="deleteThread($event, topic.id);" data-ng-show="commonData.isAdmin"><i class="topicDeleteIcon fa fa-times"></i></span>
				<span class="topicComments"><i class="topicCommentsIcon fa fa-comment"></i>{{topic.totalComments}}</span>
				<span class="topicCreator">{{topic.username}}</span>
				<span class="topicTimeStamp">{{topic.diff < (4 * 24 * 3600 * 1000) ? topic.diffStr : topic.lastComment}}</span>
			</span>
		</a>
		<div class="topicPages">
			<a data-ng-click="prevPage()" class="topicsListPrev"><i class="fa fa-arrow-left"></i></a>
			<a data-ng-repeat="page in pages" data-ng-click="changePage(page.id)" class="pageNumber">{{page.id + 1}}</a>
			<a data-ng-click="nextPage()" class="topicsListNext"><i class="fa fa-arrow-right"></i></a>
		</div>
	</div>
</div>