<div class="mainTitle">
	<h1>No.1 Collaboration Portal</h1>
	<p class="mainText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam feugiat a risus in pulvinar. Mauris facilisis laoreet neque mattis rhoncus. Donec ultrices metus vehicula convallis rhoncus.</p>
	<p>
		<a class="mainTitleBtn btn btn-primary btn-lg" href="#!Register" role="button">Sign Up</a>
	</p>
</div>
<div class="mainContent custPanel panel panel-default">
	<div class="panel-body">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-xs-12">
					<div class="custPanel mainPanel1 panel panel-default">
						<div data-ng-click="go('/Forum');" class="panel-body">
							<div class="media">
								<div class="media-left">
									<a href="#"> <img class="media-object" src="resources/images/forumIcon.svg" width="40" height="40" alt="...">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">General Discussion</h4>
									Discuss general topics
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-xs-12">
					<div class="custPanel mainPanel1 panel panel-default">
						<div data-ng-click="go('/Blog');" class="panel-body">
							<div class="media">
								<div class="media-left">
									<a href="#"> <img class="media-object" src="resources/images/blogIcon.svg" width="40" height="40" alt="...">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">Blogs</h4>
									Read and write blogs
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-xs-12">
					<div class="custPanel mainPanel1 panel panel-default">
						<div data-ng-click="go('/Listing');" class="panel-body">
							<div class="media">
								<div class="media-left">
									<a href="#"> <img class="media-object" src="resources/images/listingIcon.svg" width="40" height="40" alt="...">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">Listings</h4>
									View and Search Listings
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mainTopics col-md-8 col-xs-12">
			<h4>Latest Topics</h4>
			<div class="custWell topicsWrapper">
				<ul class="topicsList unstyledList">
					<li data-ng-repeat="topic in topicsList"><a class="forumTopic" data-ng-href="#!Forum/{{topic.id}}"> <i class="topicIcon fa fa-file-o"></i><span class="mainView topicTitle">{{topic.title}}</span> <span class="pull-right"> <span
								class="mainView topicComments"><i class="mainView topicCommentsIcon fa fa-comment"></i>{{topic.totalComments}}</span> <span class="mainView topicCreator">{{topic.username}}</span>
						</span>
					</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-4 col-xs-12">
			<div class="chatContainer">
				<h4>Chat</h4>
				<div class="custWell chatWrapper">
					<ul data-scroll-glue class="chatMessages unstyledList">
						<li data-ng-repeat="msg in messages" class="chatMsg">
							<span class="chatMsgSender">
								<img data-ng-src="http://localhost:8081/ForumBackEnd/resources/images/{{msg.senderID || 'error'}}.jpg" data-fallback-src="resources/images/userIcon.svg" width="64" height="64" class="avatarChat" />
								{{msg.username}}:
							</span>
							{{msg.content}}
							<span class="chatMsgTime">{{msg.time | date:"h:m"}}</span>
						</li>
						<li id="scrollTarget"></li>
					</ul>
				</div>
				<div class="chatInput">
					<form>
						<input id="chatTextInput" data-ng-model="message" type="text" /> <input data-ng-click="sendMessage()" data-ng-disabled="!commonData.isLoggedIn" id="chatSend" type="submit" value="Send" />
					</form>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>