<div class="container">
	<div class="row">
		<div class="mainContent custPanel panel panel-default">
			<div class="panel-heading">
				<h3 class="loginHeader panel-title">{{commonData.isAdmin ? "Admin Home" : "User Profile"}}</h3>
			</div>
			<div class="panel-body">
				<div class="col-xs-4 userDetails media">
					<div class="media-left">
						<img data-ng-src="http://localhost:8081/ForumBackEnd/resources/images/{{commonData.user.id || 'error'}}.jpg" data-fallback-src="resources/images/userIcon.svg" width="64" height="64" class="avatar"/>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Profile Picture</h4>
						<div class="changePictureBtn1" data-upload-button data-url="http://localhost:8081/ForumBackEnd/UploadImage" data-on-success="onSuccess(response)">Change Picture</div>
					</div>
				</div>
				<div class="col-xs-8">
					Username: {{commonData.user.username}} <br /> Email: {{commonData.user.email}} <br /> Status: {{commonData.user.role == 'S' ? "Student" : (commonData.user.role == 'A' ? "Admin" : "Alumni")}} <br /> Address: {{commonData.user.address}} <br />
					Contact No: {{commonData.user.contactNo}}
				</div>
				<div class="col-xs-12">
					<button data-ng-click="tab = 'friends'" class="custTab {{tab == 'friends' ? 'active' : ''}}">{{commonData.isAdmin ? "Users" : "Friends"}}</button>
					<button data-ng-click="tab = 'applications'"class="custTab {{tab == 'applications' ? 'active' : ''}}">Applications</button>
				</div>
				<div class="col-xs-12" data-ng-show="!commonData.isAdmin && tab == 'friends'">
					<hr class="col-xs-12" />
					<div class="col-xs-12 adminControls">
						<div class="forumSearchWrapper">
							<input data-ng-model="userSearch" class="forumSearch" type="text" autofocus="autofocus" placeholder="Search..." />
						</div>
					</div>
					<hr class="col-xs-12" />
					<table class="col-xs-12 table table-striped">
						<thead>
							<tr>
								<th><a data-ng-click="sortOrder = 'username'; sortReverse = !sortReverse;" class="cursorPointer">Username <i data-ng-show="sortOrder == 'username'" class="fa {{sortReverse ? 'fa-caret-down' : 'fa-caret-up'}}"></i></a></th>
								<th><a data-ng-click="sortOrder = 'role'; sortReverse = !sortReverse;" class="cursorPointer">Role <i data-ng-show="sortOrder == 'role'" class="fa {{sortReverse ? 'fa-caret-down' : 'fa-caret-up'}}"></i></a></th>
								<th><a data-ng-click="sortOrder = 'friendStatus'; sortReverse = !sortReverse;" class="cursorPointer">Request Status <i data-ng-show="sortOrder == 'friendStatus'" class="fa {{sortReverse ? 'fa-caret-down' : 'fa-caret-up'}}"></i></a></th>
								<th><a data-ng-click="sortOrder = 'onlineStatus'; sortReverse = !sortReverse;" class="cursorPointer">Online <i data-ng-show="sortOrder == 'onlineStatus'" class="fa {{sortReverse ? 'fa-caret-down' : 'fa-caret-up'}}"></i></a></th>
								<th>Chat</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="user in users | filter : userSearch | orderBy : sortOrder : sortReverse">
								<td>{{user.username}}</td>
								<td>{{user.role == 'S' ? "Student" : (user.role == 'A' ? "Admin" : "Alumni")}}</td>
								<td>
									<span data-ng-click="sendRequest(user.id)" data-ng-show="user.friendStatus == '2'" class="cursorPointer">Send Request</span>
									<span data-ng-show="user.friendStatus != '1' && user.friendStatus != '2'">{{user.friendStatus == 'Y' ? "Accepted" : (user.friendStatus == '0' ? "Pending" : "Rejected")}}</span>
									<span data-ng-click="acceptRequest(user.id)" data-ng-show="user.friendStatus == '1'" class="cursorPointer">Accept /</span>
									<span data-ng-click="rejectRequest(user.id)" data-ng-show="user.friendStatus == '1'" class="cursorPointer">Reject</span>
								</td>
								<td><i class="fa {{user.onlineStatus == 'Y' ? 'fa-check' : 'fa-times'}}" style="color: {{user.onlineStatus== 'Y'? 'green': 'red'}}"></i></td>
								<td><button data-ng-click="" data-ng-disabled="user.onlineStatus != 'Y' || user.friendStatus != 'Y'" class="chatBtn"><i class="fa fa-comments-o"></i></button></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-xs-12" data-ng-show="!commonData.isAdmin && tab == 'applications'">
					<hr class="col-xs-12" />
					<div class="col-xs-12 adminControls">
						<div class="forumSearchWrapper">
							<input data-ng-model="applicationSearch" class="forumSearch" type="text" autofocus="autofocus" placeholder="Search..." />
						</div>
					</div>
					<hr class="col-xs-12" />
					<table class="col-xs-12 table table-striped">
						<thead>
							<tr>
								<th><a data-ng-click="sortOrder2 = 'title'; sortReverse = !sortReverse;" class="cursorPointer">Title <i data-ng-show="sortOrder2 == 'title'" class="fa {{sortReverse ? 'fa-caret-down' : 'fa-caret-up'}}"></i></a></th>
								<th><a data-ng-click="sortOrder2 = 'status'; sortReverse = !sortReverse;" class="cursorPointer">Status <i data-ng-show="sortOrder2 == 'status'" class="fa {{sortReverse ? 'fa-caret-down' : 'fa-caret-up'}}"></i></a></th>
								<th><a data-ng-click="sortOrder2 = 'reason'; sortReverse = !sortReverse;" class="cursorPointer">Reason <i data-ng-show="sortOrder2 == 'reason'" class="fa {{sortReverse ? 'fa-caret-down' : 'fa-caret-up'}}"></i></a></th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="a in applications | filter : applicationSearch | orderBy : sortOrder : sortReverse">
								<td>{{a.title}}</td>
								<td>{{a.status == 'Y' ? "Accepted" : (a.status == 'N' ? "Pending" : "Rejected")}}</td>
								<td>{{a.reason}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-xs-12" data-ng-show="commonData.isAdmin && tab == 'friends'">
					<hr class="col-xs-12" />
					<div class="col-xs-12 adminControls">
						<div class="forumSearchWrapper">
							<input data-ng-model="userSearch" class="forumSearch" type="text" autofocus="autofocus" placeholder="Search..." />
						</div>
					</div>
					<hr class="col-xs-12" />
					<table class="col-xs-12 table table-striped">
						<thead>
							<tr>
								<th><a data-ng-click="sortOrder = 'username'; sortReverse = !sortReverse;" class="cursorPointer">Username <i data-ng-show="sortOrder == 'username'" class="fa {{sortReverse ? 'fa-caret-down' : 'fa-caret-up'}}"></i></a></th>
								<th><a data-ng-click="sortOrder = 'email'; sortReverse = !sortReverse;" class="cursorPointer">Email <i data-ng-show="sortOrder == 'email'" class="fa {{sortReverse ? 'fa-caret-down' : 'fa-caret-up'}}"></i></a></th>
								<th><a data-ng-click="sortOrder = 'role'; sortReverse = !sortReverse;" class="cursorPointer">Role <i data-ng-show="sortOrder == 'role'" class="fa {{sortReverse ? 'fa-caret-down' : 'fa-caret-up'}}"></i></a></th>
								<th><a data-ng-click="sortOrder = 'status'; sortReverse = !sortReverse;" class="cursorPointer">Status <i data-ng-show="sortOrder == 'status'" class="fa {{sortReverse ? 'fa-caret-down' : 'fa-caret-up'}}"></i></a></th>
								<th><a data-ng-click="sortOrder = 'reason'; sortReverse = !sortReverse;" class="cursorPointer">Reason <i data-ng-show="sortOrder == 'reason'" class="fa {{sortReverse ? 'fa-caret-down' : 'fa-caret-up'}}"></i></a></th>
								<th><a data-ng-click="sortOrder = 'onlineStatus'; sortReverse = !sortReverse;" class="cursorPointer">Online <i data-ng-show="sortOrder == 'onlineStatus'" class="fa {{sortReverse ? 'fa-caret-down' : 'fa-caret-up'}}"></i></a></th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="user in users | filter : userSearch | orderBy : sortOrder : sortReverse">
								<td>{{user.username}}</td>
								<td>{{user.email}}</td>
								<td>{{user.role == 'S' ? "Student" : (user.role == 'A' ? "Admin" : "Alumni")}}</td>
								<td>
									<div class="checkbox">
										<label><input data-ng-model="user.currStatus" data-ng-click="toggleStatus(user)" type="checkbox" checked data-toggle="toggle">{{user.status == 'Y' ? "Approved" : (user.status == 'N' ? "New" : "Rejected")}}</label>
									</div>
								</td>
								<td>{{user.reason}}</td>
								<td><i class="fa {{user.onlineStatus == 'Y' ? 'fa-check' : 'fa-times'}}" style="color: {{user.onlineStatus== 'Y'? 'green': 'red'}}"></i></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-xs-12" data-ng-show="commonData.isAdmin && tab == 'applications'">
					<hr class="col-xs-12" />
					<div class="col-xs-12 adminControls">
						<div class="forumSearchWrapper">
							<input data-ng-model="applicationSearch" class="forumSearch" type="text" autofocus="autofocus" placeholder="Search..." />
						</div>
					</div>
					<hr class="col-xs-12" />
					<table class="col-xs-12 table table-striped">
						<thead>
							<tr>
								<th><a data-ng-click="sortOrder2 = 'title'; sortReverse = !sortReverse;" class="cursorPointer">Title <i data-ng-show="sortOrder2 == 'title'" class="fa {{sortReverse ? 'fa-caret-down' : 'fa-caret-up'}}"></i></a></th>
								<th><a data-ng-click="sortOrder2 = 'username'; sortReverse = !sortReverse;" class="cursorPointer">Username <i data-ng-show="sortOrder2 == 'username'" class="fa {{sortReverse ? 'fa-caret-down' : 'fa-caret-up'}}"></i></a></th>
								<th><a data-ng-click="sortOrder2 = 'role'; sortReverse = !sortReverse;" class="cursorPointer">Role <i data-ng-show="sortOrder2 == 'role'" class="fa {{sortReverse ? 'fa-caret-down' : 'fa-caret-up'}}"></i></a></th>
								<th><a data-ng-click="sortOrder2 = 'status'; sortReverse = !sortReverse;" class="cursorPointer">Status <i data-ng-show="sortOrder2 == 'status'" class="fa {{sortReverse ? 'fa-caret-down' : 'fa-caret-up'}}"></i></a></th>
								<th><a data-ng-click="sortOrder2 = 'reason'; sortReverse = !sortReverse;" class="cursorPointer">Reason <i data-ng-show="sortOrder2 == 'reason'" class="fa {{sortReverse ? 'fa-caret-down' : 'fa-caret-up'}}"></i></a></th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="a in applications | filter : applicationSearch | orderBy : sortOrder : sortReverse">
								<td>{{a.title}}</td>
								<td>{{a.username}}</td>
								<td>{{a.role == 'S' ? "Student" : (a.role == 'A' ? "Admin" : "Alumni")}}</td>
								<td>
									<div class="checkbox">
										<label><input data-ng-model="a.currStatus" data-ng-click="toggleApplicationStatus(a)" type="checkbox" checked data-toggle="toggle">{{a.status == 'Y' ? "Approved" : (a.status == 'N' ? "New" : "Rejected")}}</label>
									</div>
								</td>
								<td>{{a.reason}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>