*
{
	outline: 0;
	padding: 0;
	margin: 0;
}
nav.navbar.navbar-default
{
	background: transparent;
	border: none;
}
#logo
{
	display: inline;
	width: 40px;
	height: 40px;
}
#logoText:hover
{
	color: white;
}
.navbar-brand span
{
	font-family: sans-serif;
    font-size: 24px;
    font-weight: 800;
}
nav.navbar.navbar-default a
{
	color: white;
	font-weight: 700;
}
.navbar-nav>li>a.navBarBtn
{
    padding: 20px 40px 0 0;
}
#idxLoginBtn
{
    margin: 14px 10px 0 -8px;
    padding: 4px 10px 4px 10px;
	border: 2px solid white;
	border-radius: 4px;
}
#idxLoginBtn:hover
{
	border: 2px solid black;
}
.mainContainer
{
	background-image: url("../images/background.png");
}
.mainTitle
{
	height: 400px;
	padding-top: 100px;
	padding-left: 200px;
	padding-right: 200px;
	text-align: center;
	color: white;
}
.mainTitle h1
{
    padding-bottom: 20px;
	font-weight: 900;
}
.mainText
{
	font-size: 20px;
}
.mainTitleBtn
{
	background: transparent;
	border: 2px solid white;
	border-radius: 4px;
}
.mainTitleBtn:focus
{
    background: rgba(255, 255, 255, 0.1);
    outline: 0;
    border: 2px solid white;
	border-radius: 4px;
}
.mainTitleBtn:hover, .mainTitleBtn:active:hover
{
	background: white;
	color: black;
	border: 2px solid white;
}
.mainContent
{
	margin-left: 40px;
	margin-right: 40px;
}
.custPanel
{
	border: none;
    border-radius: 0;
    box-shadow: 4px 4px 2px 0 rgba(0, 0, 0, 0.1);
}
.mainPanel1
{
	margin-top: 16px;
	background: #f8f8f8;
	cursor: pointer;
}
.mainPanel1:hover
{
    background: #f4f4f4;
}
.mainTopics
{
	margin: 0 0 0 40px;
	width: 776px;
}
.custWell
{
	position: relative;
    background: rgba(200, 200, 200, 0.4);
}
.custWell::after
{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4) inset;
    pointer-events: none;
}
.topicsWrapper
{
    height: 240px;
}
.unstyledList
{
	list-style-type: none;
}
.topicsList
{
    height: 240px;
    overflow: auto;
}
.topicsList li
{
    background: rgb(240, 240, 240);
    height: 64px;
    padding: 0 0 0 16px;
    line-height: 48px;
    border-bottom: 1px solid rgb(200, 200, 200);
    box-shadow: 4px 4px 2px 0 rgba(0, 0, 0, 0.1);
}
span.mainView.topicTitle
{
    color: black;
}
i.mainView.topicCommentsIcon.fa.fa-comment
{
    color: #05a5de;
}
span.mainView.topicComments
{
    color: black;
}
span.mainView.topicCreator
{
    color: #05a5de;
}
.chatWrapper
{
	height: 190px;
}
.chatMessages
{
	width: 360px;
}
.chatInput
{
    border: 1px solid rgb(200, 200, 200);
    padding: 8px 0 8px 8px;
    background: rgb(80, 80, 80);
}
.chatInput input
{
    width: 273px;
    border-radius: 2px;
    margin-left: 8px;
    margin-right: 8px;
}
.chatSend
{
	background: rgb(240, 240, 240);
    border-radius: 50%;
    border: none;
    width: 32px;
    height: 32px;
}
.footer
{
    border-top: 1px solid rgba(255,255,255,.4);
	background: linear-gradient(to bottom,rgba(0,0,0,0.4) 0,#000 100%);
}
.footer li.cat
{
    padding-top: 20px;
    color: white;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
.footer li a
{
	font-size: 12px;
    color: #9E9EA6;
    text-decoration: none;
}
section.links
{
	background: transparent;
    padding: 0 100px;
}

/*Forum Styles*/
.forumHeader
{
    padding: 40px 0;
}
.forumLogo
{
	vertical-align: bottom;
}
.forumHeading
{
	display: inline;
	padding-left: 8px;
	color: white;
	font-family: sans-serif;
    font-weight: 700;
}
.forumSearchWrapper
{
	display: inline-block;
	background: black;
	padding: 1px;
}
.forumSearch
{
	width: 198px;
	height: 36px;
	background: rgba(0, 0, 0, 0);
	padding: 0 0 0 10px;
	border: 1px solid #222222;
	font-size: 20px;
	color: white;
}
.forumSearch:hover
{
	border-color: rgba(248,183,0,0.44);
}
.forumSearch:focus
{
	border-color: #f8b700;
}
.newTopicBtn, .replyBtn, .replyLoginBtn, .newCommentReplyBtn
{
	width: 148px;
	height: 38px;
	background-color: rgba(159,22,0,.6);
    border: 1px solid #ea3012;
    color: #f8b700;
	font-size: 17px;
}
button.pull-right.replyBtn
{
    width: 108px;
}
.replyLoginBtn
{
	width: 84px;
}
.newCommentReplyBtnWrapper
{
	padding: 16px 0;
}
.newCommentReplyBtn
{
    width: 108px;
}
.newTopicBtn:hover, .replyBtn:hover, .replyLoginBtn:hover, .newCommentReplyBtn:hover
{
    background-color: #9f1600;
    color: #fff;
}
.newTopicBtnIcon, .replyBtnIcon
{
	padding: 4px;
}
.forumTopic
{
	display: block;
	background: rgba(255,255,255,.05);
	color: white;
	font-size: 16px;
	border-bottom: 1px solid rgba(255,255,255, 0.2);
	height: 64px;
	line-height: 64px;
	cursor: pointer;
}
.forumTopic:hover, .forumTopics:focus
{
	background: rgba(255,255,255,.1);
	color: white;
	text-decoration: none;
}
.topicIcon
{
	padding: 24px;
	color: #f8b700;
}
.topicTitle
{
	
}
.topicCommentsIcon
{
	padding: 10px;
	color: white;
}
.topicComments
{
	display: inline-block;
    width: 120px;
    color: rgba(255,255,255,.7);
}
.topicCreator
{
	display: inline-block;
    width: 200px;
	color: #f8b700;
}
.topicTimeStamp
{
    display: inline-block;
    width: 100px;
    padding: 0 16px 0 0;
    text-align: right;
    color: rgba(255,255,255,.7);
}
.topicPages
{
	text-align: center;
    font-size: 24px;
    padding: 32px 0;
}
.pageNumber, .topicsListPrev, .topicsListNext
{
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 16px;
    font-family: monospace;
    color: #f8b700;
    border: 1px solid #f8b700;
    margin: 2px;
	cursor: pointer;
}
.pageNumber:hover, .topicsListPrev:hover, .topicsListNext:hover
{
    background: rgba(248, 183, 0, 0.8);
    color: white;
    text-decoration: none;
}

/*Forum Thread Styles*/

.threadContent
{
	
}
.threadPages
{
	height: 64px;
    padding: 0;
}
.userDetails
{
	
}
.threadComment
{
	padding: 16px 0 32px 0;
    border-top: 1px solid grey;
    background: rgba(0,0,0,0.4);
    color: white;
    font-size: 18px;
    line-height: 1.5;
}
.commentTime
{
	color: grey;
}
.commentContent
{
    padding: 16px 0;
	color: lightgrey;
}
.threadPagesBottom
{
	padding: 44px 0;
	text-align: center;
}
.joinTheConversation
{
    padding: 10px 100px 48px 104px;
    background: #2b221b;
    border-top: 1px solid #413933;
    color: white;
}
.conversationHeader
{
	font-size: 32px;
    padding: 16px 2px;
    font-weight: 700;
}
.newCommentLogin
{
	padding: 44px 0;
    text-align: center;
    border: 2px solid #6b6560;
    border-radius: 4px;
    color: #bdbbb8;
    font-size: 18px;
}
.newCommentContent
{
	padding: 16px;
    color: #bdbbb8;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.4);
}
.replyLoginBtnWrapper
{
	padding: 24px;
}
.newComment
{
    padding: 0 0 0 0px;
}
/*Login Styles*/
.loginWrapper
{
	padding: 160px 400px;
}
.loginHeader
{
    text-align: center;
    line-height: 48px;
    font-size: 24px;
    text-transform: uppercase;
}
.loginPanel.custPanel.panel.panel-default
{
    background: rgba(0, 0, 0, 0.4);
}
.loginPanel .panel-heading
{
    background: rgba(0, 0, 0, 0.4);
    color: white;
}
.loginBody
{
	text-align: center;
}
.formInput
{
	padding: 16px 0;
}
.formInput input
{
    width: 360px;
    height: 40px;
    padding: 0 0 0 10px;
    font-size: 18px;
    background: #071521;
    border: 1px solid #525d68;
    color: white;
}
input.loginSubmit
{
    width: 200px;
    height: 64px;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 16px;
    font-family: monospace;
    color: #f8b700;
    border: 1px solid #f8b700;
    margin: 2px;
}
.loginError
{
    padding: 16px 0;
    background: red;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: monospace;
}